# Assignment 3

# 2015136131 / 컴퓨터공학부 / 최승용

## [문제]

### 1) L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [1]:
L=[1, 2, 3, 4, 5]

L[1:3] = [100]

print(L)

[1, 100, 4, 5]

//리스트 L을 슬라이싱하여 1,2번 인덱스(2, 3)부분에 리스트의 요소 100을 넣는다.

In [2]:
L=[1, 2, 3, 4, 5]

L[1:3] = [(100)]

print(L)

[1, 100, 4, 5]

//리스트 L을 슬라이싱하여 1,2번인덱스(2, 3)부분에 리스트의 요소 (100)을 넣는다.

이 때 (100)은 숫자 100으로 들어간다.

In [3]:
L=[1, 2, 3, 4, 5]

L[1:3] = 100

print(L)

TypeError: can only assign an iterable

//하나의 요소값을 수정 한다는 의미가 아니라

L[1]에서 L[3]사이의 리스트를 바꾼다는 의미이기 때문에

숫자 100이 들어갈 수 없다.

In [4]:
L=[1, 2, 3, 4, 5]

L[1:3] = (100)

print(L)

TypeError: can only assign an iterable

//하나의 요소값을 수정 한다는 의미가 아니라

L[1]에서 L[3]사이의 리스트를 바꾼다는 의미이기 때문에

숫자 100이 들어갈 수 없다.

(100, )이라면 튜플이라 가능하지만 (100)은 숫자 100으로 인식한다.

In [5]:
L=[1, 2, 3, 4, 5]

L[1:3] = (100, 101, 102)

print(L)

[1, 100, 101, 102, 4, 5]

//L[1]에서 L[3]사이의 리스트가 튜플의 요소 100, 101, 102로 바뀌어서 들어간다.

In [6]:
L=[1, 2, 3, 4, 5]

L[1:3] = [100, 101, 102]

print(L)

[1, 100, 101, 102, 4, 5]

//L[1]에서 L[3]사이의 리스트가 리스트의 요소 100, 101, 102로 바뀌어서 들어간다.

In [7]:
L=[1, 2, 3, 4, 5]

L[1:3] = [(100, 101, 102)]

print(L)

[1, (100, 101, 102), 4, 5]

//L[1]에서 L[3]사이의 리스트가 튜플 형태의 리스트의 요소 (100, 101, 102)로 바뀌어서 들어간다.

In [8]:
L=[1, 2, 3, 4, 5]

L[1:3] = [[100, 101, 102]]

print(L)

[1, [100, 101, 102], 4, 5]

//L[1]에서 L[3]사이의 리스트가 리스트 형태의 리스트 요소[100, 101, 102]로 바뀌어서 들어간다.

### 2) 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.

**1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고**

**2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.**

In [9]:
S = 'Hello World and Python'

S = S[16:23] + " " + S[12:15] + " " + S[6:11] + " " + S[0:5]

print(S)

Python and World Hello

//Python 이라는 단어, and 라는 단어, Wolrd라는 단어, Hello 라는 단어를 각각

S[16:23], S[12:15], S[6:11], S[0:5] 로 슬라이싱하고 공백을 추가해주며 더해

단어의 순서가 역순으로 되어진 새로운 문자열 S로 재정의하였다.

In [10]:
S = S.split()
S = "".join(S)

print(S)

PythonandWorldHello

//split()을 이용하여 공백을 기준으로 문자열을 나눠서 생긴 ['PythonandWorldHello']라는 리스트를

아무것도 삽입하지 않는 "".join()을 이용해 문자열로 다시 바꿔준다.

### 3) 다음 코드를 보고 물음에 답하시오.

**a = [1, 2, 3]**

**b = a * 3**

**c = [a] * 3**

**print(b)**

**print(c)**

**1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.**

**a[0]=0**

**2) b와 c 객체의 차이는 무엇인가?**

In [11]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3

print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [12]:
a = [1, 2, 3]
a[0] = 0
b = a * 3
c = [a] * 3

print(b)
print(c)

[0, 2, 3, 0, 2, 3, 0, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

//a[0] = 0 를 통해서 a리스트의 0번째 인덱스 요소인 1을 0으로 바꿔주었고

a = [0, 2, 3]이라는 새로운 리스트를 *3하는 연산을통해 b와 c를 나타내었다.

a 리스트 요소 값을 바꿔서 다시 정의한 것이기 때문에 b와 c값 역시 그에 맞게 변한다.

//b는 a라는 리스트의 요소들을 3번 반복해서 갖게 되는데

c는 a라는 리스트 자체를 3번 반복해서 갖게 된다.

따라서 b는 9개의 요소를 갖게 되고 c는 3개의 요소를 갖게 된다.

### 4) 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)

**s = '  first star   :   second star   :    third star  '**

**l = ['first star', 'second star', 'third star']**

**1) for ~ in 문을 이용한 코드를 작성하시오.**

**2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.**

In [13]:
s = ' first star : second star : third star '
I = []

for i in s.split(":"):
    I.append(i.strip())
    
print(I)

['first star', 'second star', 'third star']

//split(":")을 이용하여 ":"을 기준으로 문자열을 나누고

그 결과로 생긴 리스트 요소값을 i에 할당하면서

strip()을 이용해 공백을 지우고 리스트 l에 요소로 append()를 이용해 추가한다.

In [14]:
s = ' first star : second star : third star '

I = [i.strip() for i in s.split(":")]

print(I)

['first star', 'second star', 'third star']

//split(":")을 이용하여 ":"을 기준으로 문자열을 나누고

그 결과로 생긴 리스트 요소값을 i에 할당하면서

strip()을 이용해 공백을 지우고 리스트 l에 요소로 추가하였다.

이 때 리스트 내포를 이용하여 구현하였다.

### 5) 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.

**1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)**

    >>> addall([1])
**1**

    >>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
**45**

**2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)**

    >>> addallodd([1])
**1**

    >>> addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])
**25**

**[참고 1]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)**

**[참고 2]: sum() 등의 내장함수 사용 가능함**

In [15]:
def addall(L):
    x = 0
    for i in L:
        x += i
    return x
print( addall( [1, 2, 3, 4, 5, 6, 7, 8, 9] ) )

45

//리스트L의 요소값을 하나하나 i로 받아서

0으로 초기화 되어있는 x에 모두 더해준 뒤 x를 반환한다.

In [16]:
def addall2(L):
    return sum(i for i in L)
print( addall2( [1, 2, 3, 4, 5, 6, 7, 8, 9] ) )

45

//리스트L의 요소값을 하나하나 i로 받아서

내장함수 sum()을 사용해 더해준 뒤 반환한다.

이 때 리스트 내포를 이용하여 구현하였다.

In [17]:
def addallodd(L):
    x = 0
    for i in L:
        if(i%2 == 1):
            x += i
    return x
print( addallodd( [1, 2, 3, 4, 5, 6, 7, 8, 9] ) )

25

//리스트L의 요소값 중 2로 나누었을 때 나머지가 1인 수(홀수)만을

0으로 초기화 되어있는 x에 더해준 뒤 x를 반환한다.

In [18]:
def addallodd2(L):
    return sum(i for i in L if(i%2 == 1))
print( addallodd2( [1, 2, 3, 4, 5, 6, 7, 8, 9] ) )

25

//리스트L의 요소값 중 2로 나누었을 때 나머지가 1인 수(홀수)만을

내장함수 sum()을 사용해 더해준 뒤 반환한다.

이 때 리스트 내포를 이용하여 구현하였다.

### 6) 다음 코드를 보고 물음에 답하시오.

**L1 = [1, 2, 3]**

**L2 = [4, 5, 6]**

**d = {'low':L1, 'high':L2}**

**e = d**

**f = d.copy()**

**print(d)**

**print(e)**

**print(f)**

**print()**

**d['low'] = [10, 20, 30]**

**d['high'][1] = 500**

**print(d)**

**print(e)**

**print(f)**

**1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?**

**2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)**

**{'high': [4, 500, 6], 'low': [1, 2, 3]}**

In [19]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

//e = d를 하면 e와 d는 가리키는 키가 같기 때문에 값이 변해도 항상 같은 결과를 출력한다.

//f = d.copy()를 하면 f와 d는 다른 키(key)에서 같은 값(value)(리스트)를 가리키는데

d['low'] = [10, 20, 30] 는 새로운 리스트를 만들기 때문에 d와 e는 이 새로운 리스트를 가리키고

f는 원래 리스트를 가리키는 상태를 유지하게 된다. 때문에 다른 값이 출력되고

d['high'][1] = 500은 그 리스트의 요소값을 바꾸기 때문에 같이 바뀌게 된다.

### 7) 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오

**[참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.**

**1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.**

**2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.**

**3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.**

**4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.**

In [20]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
emptyD = {}

KL = list(d.keys())
VL = list(d.values())
KL.sort()

for i in KL:
    for j in VL:
        if(d[i] == j):
            emptyD[i] = j
            break
TKL = list(emptyD.items())
print(TKL)
TKL.reverse()
print(TKL)

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]

//사전 d의 key값을 리스트 형태로 KL(Key List)에 저장하고 sort()를 이용해 정렬한다.

사전 d의 value값도 리스트 형태로 VL(Value List)에 저장하고

이중 for문을 이용하여 정렬 된 KL에 해당하는 VL을 찾고

찾은 KL과 VL을 비어있는 사전(emptyD)에 매칭하여 넣는다.

완성된 emptyD는 items()를 사용하여 튜플 형태의 요소를 갖는 리스트로 변환하고

TKL(Tuple Key List)에 저장한 후 sort()를 이용하여

1)키의 알파벳 오름차순 순서대로 튜플(키, 값)을 차례대로 출력한다.

이후 reverse()를 이용하여

2)키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력한다.

In [21]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
emptyD = {}

KL = list(d.keys())
VL = list(d.values())
VL.sort()

for i in VL:
    for j in KL:
        if(d[j] == i):
            emptyD[j] = i
            break
TVL = list(emptyD.items())
print(TVL)
TVL.reverse()
print(TVL)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

//사전 d의 key값을 리스트 형태로 KL(Key List)에 저장한다.

사전 d의 value값도 리스트 형태로 VL(Value List)에 저장하고  sort()를 이용해 정렬한다.

이중 for문을 이용하여 정렬 된 VL에 해당하는 KL을 찾고

찾은 KL과 VL을 비어있는 사전(emptyD)에 매칭하여 넣는다.

완성된 emptyD는 items()를 사용하여 튜플 형태의 요소를 갖는 리스트로 변환하고

TVL(Tuple Value List)에 저장한 후 sort()를 이용하여

3)값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력한다.

이후 reverse()를 이용하여

4)값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력한다.

### 8) [ACM-ICPC 문제 1673번]

**치킨 쿠폰**

**https://www.acmicpc.net/problem/1673**

**강민이는 치킨 한 마리를 주문할 수 있는 치킨 쿠폰을 n장 가지고 있다. 이 치킨집에서는 치킨을 한 마리 주문할 때마다 도장을 하나씩 찍어 주는데, 도장을 k개 모으면 치킨 쿠폰 한 장으로 교환할 수 있다.**

**강민이가 지금 갖고 있는 치킨 쿠폰으로 치킨을 최대 몇 마리나 먹을 수 있는지 구하여라. 단, 치킨을 주문하기 위해서는 반드시 치킨 쿠폰을 갖고 있어야 한다.**

In [ ]:
try:
    while(1):
        L = input().split()
        n = int(L[0])
        k = int(L[1])
        kn = n
        
        while(k <= n):
            x = int(n/k)
            n = n%k
            kn += x
            n += x
            
        print(kn)
        
except:
    exit()

4 3
5
10 3
14
100 5
124

![]( https://github.com/Choi-SeungYong/script/blob/master/%EC%B9%98%ED%82%A8%20%EC%BF%A0%ED%8F%B0.png?raw=true )

//입력 받은 값을 split()을 이용하여 공백을 없애고 L에 넣어준다.

첫번째 입력받은 n을 kn에 넣어주고

두번째 입력받은 k가 n보다 커질 때 까지 반복문을 만든다.

x에 n을 k로 나눈 몫을 저장하고 n은 나머지로 재정의한다.

x만큼의 쿠폰이 더 생긴 것이므로 n과 kn에 x를 더해주고 kn(몇마리를 먹었는지)을 출력한다.

### 9) [Incremental Project] 이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.

**요구사항 1. CSS와 Javascript 내용도 모두 제거하시오 (이전 숙제에서 이미 제외하였다면 본 요구사항 무시)**

**즉, 아래와 같은 코드는 <style> 및 <script>태그 뿐만 아니라 그 안의 내용 전체를 모두 제거**

**<style>**

**h1 {**

**color: blue;**

**}**

**</style>**

**<script>**

**int a = 10;**

**...**

**</script>**

**요구사항 2. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.**

예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']

**모든 punctuation을 확인하는 방법은 아래와 같다.**

**import string**

**print(string.punctuation)**

**요구사항 3. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.**

예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '', '지향', ''] ---> ['컴퓨터공학부', '지향'] 

**요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.**

**예: ['world', 'hello', 'python', 'world', '컴퓨터공학부', '지향'] ---> {'world': 2, 'hello': 1, 'python': 1, '컴퓨터공학부': 1, '지향': 1} **

**요구사항 4. 다음 5개의 사이트에 대한 단어 출현빈도 결과를 출력하시오.**

**http://cse.koreatech.ac.kr**

**https://www.koreatech.ac.kr**

**http://www.naver.com**

**http://www.daum.net**

**http://www.nytimes.com**

#### 소감

아직 리스트와 튜플 사전에 대한 이해도가 부족하다고 느꼈다.

리스트의 요소로 리스트를 갖거나 리스트의 요소로 튜플을 갖거나 하는 상황에서

생각이 자연스럽게 이어지지 못한다는 느낌이 강하게 들었고 때문에 시간이 오래걸렸다.

그래도 시험 보기 전에 부족한 부분을 파악할 수 있는 계기가 된 것 같아 다행이다.

시간이 부족해 9번 문제를 못 푼 것이 너무 아쉽지만 시험 공부를 하면서 따로 풀어봐야겠다.